/* =========================================
   FrameInGoa
   Retro Goa Theme
========================================= */

#root {
    min-height: 100vh;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}